<div class="d-block d-md-none p-3">
    <h3>Our dishes</h3>
    <p class="my-2" style="line-height: 1.85rem;">
        Here at Tomoe, you get the taste of what Japanese authentic dishs in each season<br>
        Serving Kyoto cuisine but we also do serve special course that caters to your needs for your occasion such as businesslike, date and things like your own scene.
    </p>
</div>
<hr>
<p class="text-center header2">Courses</p>
<hr>
<div>
    <ul>
        <div class="mb-3">
            <li class="mb-2 header2">
                <fa-icon [icon]="gService.faLeaf"></fa-icon>
                Regular Tomoe course
                <span class="price">7,500(including tax)</span>
            </li>
            <div class="course_discription p-3">
                <img src="../../../assets/images/tomoe-image9.JPG" alt="alacarte" class="course_img mb-2" id="tomoe">
                <p class="caution">Course content might be different from this image.</p>
                <p class="discription">
                    Using variety of ingredients in each season, this course contains 7 to 8 dishes with appetizer to a main dish<br>
                    <span>Rice option is available with additional price +￥1,000</span>
                </p>
            </div>
        </div>
        <div class="mb-3">
            <li class="mb-2 header2">
                <fa-icon [icon]="gService.faLeaf"></fa-icon>
                Special course
                <span class="price">10,000～(including tax)</span>
            </li>
            <div class="course_discription p-3">
                <img src="../../../assets/images/tomoe_insta_images/crab3.jpg" alt="alacarte" class="course_img mb-2" id="special">
                <p class="caution">Special course content depends on your request and season</p>
                <p class="discription">
                    we serve special course that caters to your needs for your occasion such as businesslike,date and things like your own scene. this course needs 3 days prior to reserve. Feel free to request your preference.
                </p>
            </div>
        </div>
        <div class="mb-3">
            <li class="mb-2 header2">
                <fa-icon [icon]="gService.faLeaf"></fa-icon>
                Daily 3 meals<span class="price"> 2,750～(including tax)</span>
            </li>
            <div class="course_discription p-3">
                <img src="../../../assets/images/tomoe-image4.JPG" alt="alacarte" class="course_img mb-2" id="alacarte">
                <p class="caution">Course content might be different from this image since it is a daily dishs.</p>
                <p class="discription">
                    This daily regular dish contains 3 dishes, vegetable dish, fish dish and soup. <br>
                    ＊This menu content changes on a daily basis. please ask the owner about it.
                </p>
                <hr>
                <div class="p-4" id="alacarte_container">
                    <li class="header2">- A la carte -</li>
                    <p>
                        à la carte means the practice of ordering individual dishes from a menu<span class="form-text">(including tax)</span><br>
                    </p>
                    <ul>
                        <li class="mb-2">
                            Otsukuri
                            <ul>
                                <li class="item d-flex flex-wrap">
                                    <div class="me-2">
                                        Please ask the owner about the content.
                                    </div>
                                    <div>
                                        ￥1,000～
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="mb-2">
                            Delicacy
                            <ul>
                                <li class="item d-flex flex-wrap">
                                    <div class="me-2">
                                        3 delicacies
                                    </div>
                                    <div>
                                        ￥1,000
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="mb-2">
                            Small pot (for one person)
                            <ul>
                                <li class="item d-flex flex-wrap">
                                    <div class="me-2">
                                        Japanese Pufferfish Chilinabe
                                    </div>
                                    <div>
                                        ￥2,000
                                    </div>
                                </li>
                                <li class="item d-flex flex-wrap">
                                    <div class="me-2">
                                        Eel with the egg
                                    </div>
                                    <div>
                                        ￥1,280
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="mb-2">
                            Snacks (Appetizer)
                            <ul>
                                <li class="item d-flex flex-wrap">
                                    <div class="me-2">
                                        Yumi pork fried
                                    </div>
                                    <div>
                                        ￥1,000
                                    </div>
                                </li>
                                <li class="item d-flex flex-wrap">
                                    <div class="me-2">
                                        Ezo deer charcoal grill
                                    </div>
                                    <div>
                                        ￥1,980
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="mb-2">
                            Food
                            <ul>
                                <li class="item d-flex flex-wrap">
                                    <div class="me-2">
                                        Clay pot rice from Yamagata prefecture
                                    </div>
                                    <div>
                                        ￥1,380
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul><br>
                    <p class="caution">※A la carte content changes depending on a season and a situation of stocks</p>
                </div>
                <hr>
            </div>
        </div>
    </ul>
</div>