<div class="bg-light">
    <div>
        <div id="header_map" class="d-flex align-items-center justify-content-center">
            <h1 class="text-center"><strong>お店へのアクセス</strong></h1>
        </div>
    </div>
    <div class="col-11 mx-auto border-light rounded p-2 mt-3 mb-5" id="access_map">
            <h2 class="pt-2 text-center">アクセスマップ</h2>
            <hr>
            <div class="d-flex flex-column justify-content-center p-2">
                <h3 class="p-2"><span style="font-size: smaller;">和食</span> 巴</h3>
                <div class="d-flex flex-wrap justify-content-around">
                    <div class="d-flex flex-column col-12 mt-4 col-lg-4">
                        <a href="https://www.google.com/maps/search/?api=1&query=東京都大田区西蒲田７丁目１０−７ 和食 巴 ともえ" id="address" target="_blank" class="mb-4">
                            <fa-icon [icon]="globalService.faLocationDot"></fa-icon>
                            東京都大田区西蒲田７丁目１０−７ 和食 巴 ともえ
                        </a>
                        <a href="tel:0364248466" class="mb-4">
                            <fa-icon [icon]="globalService.faPhone"></fa-icon>
                                03-6424-8466
                        </a>
                        <div class="mb-4">
                            <strong>最寄り駅: </strong>
                            ＪＲ蒲田駅より徒歩５分　蓮沼駅から340m
                        </div>
                        <div class="mb-4">
                            <strong>営業時間: </strong>
                            17:30 ～ 23:00
                            <br>
                            <small>
                                [L.O - 22:00、コースのみ21:00 最終受付]
                            </small>
                        </div>
                        <div class="mb-4">
                            <strong>定休日: </strong>
                            日曜日
                        </div>
                        <a href="https://www.google.com/maps/search/?api=1&query=東京都大田区西蒲田７丁目１０−７ 和食 巴 ともえ" class="google_map_relative btn text-light mt-4 col-9 col-lg-11 mx-auto p-3" target="_blank">
                            <fa-icon [icon]="globalService.faMap"></fa-icon> 
                            Google Mapで向かう >
                        </a>
                    </div>
                    <div class="col-11 col-lg-7 google_map_relative mx-auto">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3245.5795263042983!2d139.71012081517478!3d35.5640853439953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018616d4bd9a5bb%3A0xd2274c743ebf4e5b!2z5ZKM6aOfIOW3tCDjgajjgoLjgYg!5e0!3m2!1sja!2sjp!4v1668208559437!5m2!1sja!2sjp" width="98%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="mx-auto p-2"></iframe>
                    </div>
                </div>
            </div>
    </div>
</div>
