body{
    /* font-family: 'Yu Mincho' ,sans-serif; */
    font-family: 'Yu Mincho',sans-serif !important;
}

#header_map{
    background-image: url('../../../assets/images/tomoe-image9.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 21rem;
    width: 100%;
}

#access_map{
    color: f7f7f7;
    background-color: black;
}

#access_map a{
    color: #d5f7f2;
}

#reservation {
    font-size: .9rem;
    color: #dbf5c9 !important;
}

a:hover{
    opacity: .7;
    cursor: pointer;
}

.google_map_relative{
    border: 2px solid #dbf5c9;
}

@media screen and (min-width: 800px) {

    #header_map{
        background-image: url('../../../assets/images/tomoe-image9.JPG');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 37rem;
        width: 100%;
    }
    
}
