<div>
    <div id="header_map" class="d-flex align-items-center justify-content-center">
        <h1 class="text-center">お店へのアクセス</h1>
    </div>
    <div class="col-11 mx-auto border-light rounded bg-light p-2 my-3" id="access_map">
        <h2 class="pt-2 text-center">アクセスマップ/Access Map</h2>
        <hr>
        <div class="d-flex flex-column justify-content-center align-items-centerp-2">
            <h3 class="p-2"><span style="font-size: smaller;">和食</span> 巴</h3>
            <div class="d-flex flex-wrap justify-content-around">
                <div class="d-flex flex-column col-11 mt-4 col-lg-4">
                    <a href="https://www.google.com/maps/search/?api=1&query=東京都大田区西蒲田7丁目10-7クレソンビル1F" id="address" target="_blank">
                        <fa-icon [icon]="faLocationDot"></fa-icon>
                         東京都大田区西蒲田7丁目10-7クレソンビル1F
                    </a>
                    <a href="tel:65694834" class="mb-2">
                        <fa-icon [icon]="faPhone"></fa-icon>
                         657-9543-123
                    </a>
                    <div class="mb-2">
                        最寄り駅: ＪＲ蒲田駅より徒歩５分　蓮沼駅から340m
                    </div>
                    <div class="mb-2">
                        営業時間: 17:00 ～ 22:00
                    </div>
                    <div class="mb-2">
                        定休日: 日・祝
                    </div>
                    <a href="https://www.google.com/maps/search/?api=1&query=東京都大田区西蒲田7丁目10-7クレソンビル1F" class="btn border-success rounded text-primary mt-4 col-7 col-lg-11 max-auto">
                        <fa-icon [icon]="faMap"></fa-icon> 
                        Google Mapで行く!
                    </a>
                </div>
                <div class="col-11 col-lg-7 p-2">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3245.579020042884!2d139.71011031448495!3d35.5640978439959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60186042bb21ffb1%3A0xc2a05462794fb526!2z44CSMTQ0LTAwNTEg5p2x5Lqs6YO95aSn55Sw5Yy66KW_6JKy55Sw77yX5LiB55uu77yR77yQ4oiS77yX!5e0!3m2!1sja!2sjp!4v1666998881800!5m2!1sja!2sjp" width="97%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
