body{

}

#header_map{
    background-image: url('https://wallpaperaccess.com/full/1322011.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    width: 100%;
}

#access_map{
    color: black;
}

#access_map a{
    color: black;
    margin-bottom: 8px;
}

.btn:hover{
    opacity: .7;
}

a:hover{
    opacity: .7;
}