body{
    /* font-family: 'Yu Mincho' ,sans-serif; */
    font-family: 'Yu Mincho',sans-serif !important;
}

#header_map{
    background-image: url('https://wallpaperaccess.com/full/1322011.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 23rem;
    width: 100%;
}

#access_map{
    color: f7f7f7;
    background-color: black;
}

#access_map a{
    color: #f7f7f7;
    margin-bottom: 8px;
}

.btn:hover{
    opacity: .7;
}

a:hover{
    opacity: .7;
}
