<div>
    <div class="d-flex flex-wrap justify-content-around align-items-center mb-3">
        <div class="col-12 col-md-4 mb-3">
            <img src="../../../../assets/images/tomoe-image4.JPG" alt="meal" id="meal_img">
        </div>
        <div class="col-12 col-md-7">
            <p class="discription">
                京料理に欠かせない「お出汁」。当店では、京都で修業した料理人が本場の味を再現。食材は産地から厳選して直送。四季折々の旬の素材を使用した京料理をご提供します。北海道から仕入れるエゾシカは、日本料理と好相性。旨味が濃いのに臭みがなく、上品な味わい。当店へお越しの際は是非、ご賞味いただきたい逸品です。旬の京野菜など本場京都の食材もお愉しみいただけます。
            </p>
        </div>
    </div>
    <div class="d-flex flex-wrap justify-content-between align-items-center mb-3">
        <button class="mx-auto text-center link" (click)="introService.close()">
            << 戻る
        </button>
        <a href="" routerLink="/" class="mx-auto text-center link linkToPage" (click)="introService.close()">
            巴のお料理へ
        </a>
    </div>
</div>
