:host{
    --descTextSize: 1rem;
    --disc: 0.8rem;
}

#header_map{
    /* background-image: url(../../../assets/images/tomoe-image1.JPG); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 23rem;
    width: 100%;
    transition: 2.5s ease-in-out;
}

#description{
    font-size: var(--descTextSize);
}

.disc{
    font-size: var(--disc);
}

#formArea{
    padding-bottom: 4rem;
}

@media screen and (min-width: 800px){

    #header_map{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 41rem;
        width: 100%;
    }
}