<main class="popup-container">
    <div class="text-center">
        <img src="../../../../assets/images/tomoe-title.jpg" alt="tomoe-img" class="tomoe-title">
    </div>
    <h2 class="popup-title">一時閉店のお知らせ</h2>
    <p class="popup-discription">
        この度 <span class="fw-bold">和食 巴</span>は2023年12月末を持ちまして一時閉店をし、新しく<span class="fw-bold">飯酒 巴</span> をオープンすることになりました。
        詳細は<a href="https://www.instagram.com/meshisaketomoe?igsh=MWoyMWR0M205NDB4cA==" target="_blank">飯酒 巴のインスタグラム</a>をご確認ください。
    </p>
    <ul class="p-0">
        <li class="d-flex">
            <div class="col-2">TEL</div>
            <div class="col">
                <a href="tel:0455343864">045-534-3864</a>
            </div>
        </li>
        <li class="d-flex">
            <div class="col-2">住所</div>
            <div class="col">
                <a href="https://maps.app.goo.gl/qb7f9HEa7wMGo5vcA" target="_blank">
                    神奈川県横浜市港北区日吉本町１丁目２−１７ B1F 日吉駅から徒歩1分
                </a>
            </div>
        </li>
    </ul>

    <div class="new_restrant_map mx-auto">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d341.19370909368956!2d139.64601518516784!3d35.55370487098881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60185f77384a1a97%3A0xae77c03ef7502024!2z44CSMjIzLTAwNjIg56We5aWI5bed55yM5qiq5rWc5biC5riv5YyX5Yy65pel5ZCJ5pys55S677yR5LiB55uu77yS4oiS77yR77yXIOS4ieeUsOODk-ODqw!5e0!3m2!1sja!2sjp!4v1703736023382!5m2!1sja!2sjp" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
    </div>
</main>
