.tomoe-title{
    width: 35%;
    height: 160px;
}

.popup-title{
    text-align: center;
    margin: 1rem 0;
}

.popup-discription{
    text-align: center;
}

@media screen and (max-width: 760px) {
    .popup-container{
        height: 380px;
    }
    .tomoe-title{
        height: 140px;
    }
}

