.tomoe-title{
    width: 50%;
    height: 180px;
}

.popup-container{

}

.popup-title{
    text-align: center;
    margin: 1rem 0;
}

.popup-discription{
    text-align: center;
}

.new_restrant_map{

}