<div class="d-block d-md-none p-3">
    <h3>巴のお料理</h3>
    <p class="my-2" style="line-height: 1.85rem;">
        巴では四季折々の懐石料理を堪能できます<br>
        本格京料理を提供するとともに、御接待や御友人との会食などでご利用できるようにお客様のリクエストに合わせた特別コースもご用意しております。
    </p>
</div>
<hr>
<p class="text-center header2">巴のコース一覧</p>
<hr>
<div>
    <ul>
        <div class="mb-3">
            <li class="mb-2 header2">
                <fa-icon [icon]="gService.faLeaf"></fa-icon>
                通常コース 巴 
                <span class="price">7,050(税込)</span>
            </li>
            <div class="course_discription p-3">
                <img src="../../../assets/images/tomoe-image9.JPG" alt="alacarte" class="course_img mb-2" id="tomoe">
                <p class="caution">その月のコース内容は画像の内容と異なる可能性があります</p>
                <p class="discription">
                    四季折々の食材を使用し、京料理の前菜から〆までの全7～8品からなる献立となります。<br>
                    <span>〆ではお蕎麦ですが、+1,000円でつや姫を使用した土鍋ご飯に変更可能です。</span>
                </p>
            </div>
        </div>
        <div class="mb-3">
            <li class="mb-2 header2">
                <fa-icon [icon]="gService.faLeaf"></fa-icon>
                特別コース 
                <span class="price">10,000～(税込)</span>
            </li>
            <div class="course_discription p-3">
                <img src="../../../assets/images/tomoe_insta_images/crab3.jpg" alt="alacarte" class="course_img mb-2" id="special">
                <p class="caution">特別コースは季節、リクエスト内容によって異なります。</p>
                <p class="discription">
                    ご接待や会食などお客様の用途、ご希望に併せてご用意させていただきます。こちらのコースは事前予約制で3日前までのみの受付となります。コース内容のリクエストがある際はお気軽にご相談ください。
                </p>
            </div>
        </div>
        <div class="mb-3">
            <li class="mb-2 header2">
                <fa-icon [icon]="gService.faLeaf"></fa-icon>
                巴のお決まり <span class="price">2,750～(税込)</span>
            </li>
            <div class="course_discription p-3">
                <img src="../../../assets/images/tomoe-image4.JPG" alt="alacarte" class="course_img mb-2" id="alacarte">
                <p class="caution">その月のお決まり内容は画像の内容と異なる可能性があります</p>
                <p class="discription">
                    巴のお決まりでは、その日の食材で、お野菜のお料理、お魚料理、口吸いと、3品お出しいたします。
                    その後はお好みの一品料理を召し上がるもよし、〆てもよし。お客様の趣向でご堪能ください。<br>
                    ＊日替わりメニューございます。店主にお尋ね下さい。
                </p>
                <hr>
                <div class="p-4" id="alacarte_container">
                    <li class="header2">- アラカルト -</li>
                    <p>
                        アラカルト(à la carte)とはフランス語由来の言葉で、一品料理という意味でございます。<span class="form-text">(税込表示)</span><br>
                    </p>
                    <ul>
                        <li class="mb-2">
                            お造り
                            <ul>
                                <li class="item d-flex flex-wrap">
                                    <div class="me-2">
                                        ＊産地直送のため店主にお尋ねください
                                    </div>
                                    <div>
                                        1,000円～
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="mb-2">
                            珍味
                            <ul>
                                <li class="item d-flex flex-wrap">
                                    <div class="me-2">
                                        珍味3種盛り
                                    </div>
                                    <div>
                                        1,000円
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="mb-2">
                            小鍋 (1人前)
                            <ul>
                                <li class="item d-flex flex-wrap">
                                    <div class="me-2">
                                        虎河豚ちり鍋
                                    </div>
                                    <div>
                                        2,000円
                                    </div>
                                </li>
                                <li class="item d-flex flex-wrap">
                                    <div class="me-2">
                                        穴子卵とじ
                                    </div>
                                    <div>
                                        1,280円
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="mb-2">
                            強肴
                            <ul>
                                <li class="item d-flex flex-wrap">
                                    <div class="me-2">
                                        茨城県弓野さん家の弓豚香煎揚げ
                                    </div>
                                    <div>
                                        1,000円
                                    </div>
                                </li>
                                <li class="item d-flex flex-wrap">
                                    <div class="me-2">
                                        蝦夷鹿炭火焼
                                    </div>
                                    <div>
                                        1,980円
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="mb-2">
                            食事
                            <ul>
                                <li class="item d-flex flex-wrap">
                                    <div class="me-2">
                                        山形産地「つや姫」土鍋ご飯1合 お供、漬物・止椀
                                    </div>
                                    <div>
                                        1,380円
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul><br>
                    <p class="caution">※仕入れ状況、季節によって変更がありますので予め、ご了承ください。</p>
                </div>
                <hr>
            </div>
        </div>
    </ul>
</div>