:host{
    --icon_size: 1.1rem;
    --footer_border: 2.5px solid #bfbfbf;
}

#footer{
    background-color: #232423;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    border: var(--footer_border);
}

#main_icon_container{
    border-right: var(--footer_border);
}

li .main_icon{
    font-size: 1.4rem;
    text-decoration: none;
    text-align: center;
}

li{
    list-style: none;
}

li .icon{
    font-size: var(--icon_size);
}

li a {
    color: #fff;
}