<div class="bg-light">
    <!-- header img -->
    <div id="header_map" class="d-flex align-items-center justify-content-center">
        <h1 class="text-center">
            <strong>ご予約ページ</strong>
        </h1>
    </div>
    <div class="col-11 mx-auto text-dark">

        <!-- phone number -->
        <div class="text-center my-4 ">
            <h4>お電話のご予約の方はこちら</h4>
            <hr>
            <h1>
                <a href="tel:0364248466" class="text-dark">
                    <fa-icon [icon]="globalService.faPhone"></fa-icon>
                    03-6424-8466
                </a>
            </h1>
        </div>

        <!-- description -->
        <div class="mx-auto col-10 col-md-8 p-2" id="description">
            <div class="row mb-3">
                <div class="col-3 text-end">
                    営業時間
                </div>
                <div class="col">
                    17:30 ～ 23:00
                    <br>
                    <small>
                        [ラストオーダー 22:00、コースのみ21:00 最終受付]
                    </small>
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col-3">
                    <h6 class="text-end">定休日</h6>
                </div>
                <div class="col">
                    日曜日
                    <br>
                    <small>
                        年末年始や夏季休暇は未定ですので、お問い合わせいただくか、巴の
                        <a href="https://instagram.com/washoku.tomoe?igshid=YmMyMTA2M2Y" target="_blank">Instagram</a>・
                        <a href="https://twitter.com/washoku_tomoe" target="_blank">Twitter</a> 
                        にてご確認よろしくお願い致します。
                    </small>
                </div>
            </div>
        </div>

        <!-- Reservation-form -->
        <div id="formArea">
            <h4 class="text-center">
                ネットご予約の方はこちら
            </h4>
            <hr>
    
            <div class="d-grid mx-auto col-6 col-md-4">
                <button type="button" class="btn btn-success" (click)="isCollapsed = !isCollapsed;" [attr.aria-expanded]="!isCollapsed" aria-controls="formSection">
                    ネット予約
                </button>
            </div>
            <app-reservation-form [isCollapsed]="isCollapsed">
            </app-reservation-form>
            <ng-container>
                <div class="form-text text-center mb-3" id="target" *ngIf="isCollapsed">
                    ボタンを押した後下へスクロール
                </div>
            </ng-container>
        </div>
    </div>
</div>
