<div class="bg-light">
    <!-- header img -->
    <div 
        id="header_map" 
        class="header-image d-flex align-items-center justify-content-center"
        [ngStyle]="{ 'background-image': globalService.isSlideStarted ? 
            'linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(' + (globalService.currImage | async)?.presignedUrl + ')' :
            'linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(' + globalService.initialImage + ')'
        }"
    >
        <h1 class="text-center">
            <ng-container *ngIf="!globalService.isEnglish">
                <strong>ご予約ページ</strong>
            </ng-container>
            <ng-container *ngIf="globalService.isEnglish">
                <strong>Reservation</strong>
            </ng-container>
        </h1>
    </div>
    <!-- This is for loading images proactively -- Opacity: 0 -->
    <ng-container>
        <div class="next" 
            [ngStyle]="{ 
                'background-image': 'url(' + (globalService.nextImage | async)?.presignedUrl + ')' 
            }"
        >
        </div>
    </ng-container>

    <div class="col-11 mx-auto text-dark">
        <ng-container *ngIf="!globalService.isEnglish">
            <!-- phone number -->
            <div class="text-center my-4 ">
                <h4>お電話のご予約の方はこちら</h4>
                <hr>
                <h1>
                    <a href="tel:0364248466" class="text-dark">
                        <fa-icon [icon]="globalService.faPhone"></fa-icon>
                        03-6424-8466
                    </a>
                </h1>
            </div>

            <!-- description -->
            <div class="mx-auto col-10 col-md-8 p-2" id="description">
                <div class="row mb-3">
                    <div class="col-4 text-end">
                        営業時間
                    </div>
                    <div class="col">
                        17:30 ～ 23:00
                        <br>
                        <p class="disc">
                            [ラストオーダー 22:00、コースのみ21:00 最終受付]
                        </p>
                    </div>
                </div>
                
                <div class="row mb-3">
                    <div class="col-4">
                        <h6 class="text-end">定休日</h6>
                    </div>
                    <div class="col">
                        日曜日
                        <br>
                        <p class="disc">
                            年末年始や夏季休暇は未定ですので、お問い合わせいただくか、巴の
                            <a href="https://instagram.com/washoku.tomoe?igshid=YmMyMTA2M2Y" target="_blank">Instagram</a>・
                            <a href="https://twitter.com/washoku_tomoe" target="_blank">Twitter</a> 
                            にてご確認よろしくお願い致します。
                        </p>
                    </div>
                </div>
            </div>

            <div class="mx-auto text-center mb-3">
                <a href="/mapPage" style="color:#a83e2c;"><< 和食 巴への道のり</a>
            </div>

            <!-- Reservation-form -->
            <div id="formArea">
                <h4 class="text-center">
                    ネットご予約の方はこちら
                </h4>
                <hr>
        
                <div class="d-grid mx-auto col-6 col-md-4">
                    <button type="button" class="btn btn-success" 
                    (click)="isCollapsed = !isCollapsed;" [attr.aria-expanded]="!isCollapsed" aria-controls="formSection"
                    [disabled]="reserveService.isFormDisabled"
                    >
                        ネット予約
                    </button>
                </div>
                <app-reservation-form [isCollapsed]="isCollapsed">
                </app-reservation-form>

                <ng-container *ngIf="isCollapsed && !reserveService.isFormDisabled">
                    <div class="form-text text-center mb-3" id="target">
                        ボタンを押した後下へスクロール
                    </div>
                </ng-container>
                <ng-container *ngIf="reserveService.isFormDisabled">
                    <div class="form-text text-center mb-3">
                        少々お待ちください...
                    </div>
                </ng-container>
            </div>
        </ng-container>
        <!-- english page -->
        <ng-container *ngIf="globalService.isEnglish">
            <app-reservation-page-en></app-reservation-page-en>
        </ng-container>
    </div>
</div>
