<p>admin works!</p>
<!-- reservations -->
<div class="p-3">

    <table class="table table-hover pb-5 mb-5 text-light my-5">
        <thead>
            <tr>
                <th>No</th>
                <th>お名前</th>
                <th>人数</th>
                <th>日付</th>
                <th>時間</th>
                <th>コース</th>
                <th>オプション</th>
                <th>ご要望欄</th>
                <th>Email</th>
                <th>電話番号</th>
                <th>受理日時</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let reservation of reservations; let i = index">
                <tr>
                    <td>{{ i+1 }}</td>
                    <td>{{ reservation.name }}</td>
                    <td>{{ reservation.howMany }}</td>
                    <td>{{ reservation.bookedDate }}</td>
                    <td>{{ reservation.bookedTime }}</td>
                    <td>{{ reservation.course }}</td>
                    <td *ngIf="reservation.option == 1">
                        つや姫土鍋ご飯付き
                    </td>
                    <td *ngIf="reservation.option == null">Null</td>
                    <td>{{ reservation.discription }}</td>
                    <td>{{ reservation.email }}</td>
                    <td>{{ reservation.phone }}</td>
                    <td>{{ reservation.created }}</td>
                    <td>
                        <button type="button" class="btn btn-warning">編集</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" (click)="deleteRecord(reservation)">削除</button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
