<main class="mb-5">
    <ng-container>
        <div 
            id="header_bg" 
            class="header-image-drink container-fluid d-flex flex-column justify-content-center align-items-center" 
            [ngStyle]="{ 'background-image': gService.isSlideStarted ? 
                'url(' + (gService.currImage | async)?.presignedUrl + ')' :
                'url(' + gService.initialImage + ')'
            }"
        >
            <app-drink-header-intro></app-drink-header-intro>
        </div>
    </ng-container>

    <!-- This is for loading images proactively -- Opacity: 0 -->
    <ng-container>
        <div class="next" 
            [ngStyle]="{ 
                'background-image': 'url(' + (gService.nextImage | async)?.presignedUrl + ')' 
            }"
        >
            <app-drink-header-intro></app-drink-header-intro>
        </div>
    </ng-container>

    <!-- drink -->
    <div class="mx-auto col-12 col-md-8 p-2">
        <ng-component *ngIf="gService.isEnglish then en else jp"></ng-component>
        <ng-template #jp>
            <div class="d-block d-md-none p-3">
                <h3>巴のお飲み物</h3>
                <p class="my-2" style="line-height: 1.85rem;">
                    巴では季節の地酒を中心に日本各地の日本酒を取り寄せております<br><br>
                    旬の食材を盛り込んだお食事はお酒に寄り添う肴としても御楽しみいただけます。お料理に合わせたペアリングもご提案いたしますので、お気軽にお声がけください。
                </p>
            </div>
            <hr>
            <h4 class="text-center header2">お飲み物一覧</h4>
            <hr>
            <div class="mb-4">
                <img src="../../../assets/images/drinks.jpeg" alt="drinks" class="drink-img mb-3">
                <div class="drink-menu p-2">
                    <h4 class="text-center my-3">Menu</h4>
                    <div class="d-flex flex-wrap justify-content-between">
                        <!-- beer -->
                        <div class="col-12 col-md-5 mb-3">
                            <h5 class="text-center">ビール各種</h5>
                            <hr>
                            <div class="mx-auto p-2">
                                <div class="d-flex justify-content-between">
                                    <div class="col-8">生ビール</div>
                                    <div class="col-3 text-right">￥480</div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="col-8">キリンラガー 一瓶</div>
                                    <div class="col-3 text-right">￥890</div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="col-8">アサヒドライゼロ</div>
                                    <div class="col-3 text-right">￥550</div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="col-8">梅酒</div>
                                    <div class="col-3 text-right">￥660</div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="col-8">ウイスキー デュワーズ12年</div>
                                    <div class="col-3 text-right">￥890</div>
                                </div>
                            </div>
                        </div>
                        <!-- Sake -->
                        <div class="col-12 col-md-5 mb-3">
                            <h5 class="text-center mb-3">芋</h5>
                            <hr>
                            <div class="mx-auto p-2">
                                <div class="d-flex justify-content-between">
                                    <div class="col-8">萬膳庵</div>
                                    <div class="col-3 text-right">￥800</div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="col-8">甑州</div>
                                    <div class="col-3 text-right">￥750</div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="col-8">六代目百合</div>
                                    <div class="col-3 text-right">￥690</div>
                                </div>
                            </div>
                            <h5 class="text-center mb-3">麦</h5>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <div class="col-8">青一髪</div>
                                <div class="col-3 text-right">￥690</div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="col-8">麦麦 旭万年</div>
                                <div class="col-3 text-right">￥690</div>
                            </div>
                        </div>
                        <!-- Nihonshu -->
                        <div class="col-12 col-md-5 mb-3">
                            <h5 class="text-center mb-1">日本酒</h5>
                            <hr>
                            <div class="mx-auto p-2">
                                <div class="d-flex justify-content-between">
                                    <div class="col-8">王禄</div>
                                    <div class="col-3 text-right">￥670</div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="col-8">上喜元</div>
                                    <div class="col-3 text-right">￥670</div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="col-8">雪の美人</div>
                                    <div class="col-3 text-right">￥890</div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="col-8">姿 初すがた</div>
                                    <div class="col-3 text-right">￥830</div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="col-8">悦 凱陣</div>
                                    <div class="col-3 text-right">￥850</div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="col-8">阿部勘</div>
                                    <div class="col-3 text-right">￥790</div>
                                </div>
                            </div>
                        </div>
                        <!-- Pop -->
                        <div class="col-12 col-md-5 mb-3">
                            <h5 class="text-center mb-1">ソフトドリンク</h5>
                            <hr>
                            <div class="mx-auto p-2">
                                <div class="d-flex justify-content-between">
                                    <div class="col-8">ウーロン茶</div>
                                    <div class="col-3 text-right">￥400</div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="col-8">緑茶</div>
                                    <div class="col-3 text-right">￥400</div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="col-8">ジンジャエール</div>
                                    <div class="col-3 text-right">￥400</div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="col-8">コーラ</div>
                                    <div class="col-3 text-right">￥400</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        
        <ng-template #en>
            <app-drink-page-en></app-drink-page-en>
        </ng-template>

        <!-- Basic info -->
        <app-base-info 
            [backColor]="color"
            [linkColor]="linkColor"
        ></app-base-info>
    </div>
</main>
