#header_image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('../../../assets/images/inner2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 41rem;
}

.drink-img{
    width: 100%;
    height: 550px;
}

.drink-menu{
    color: #fff;
    background-color: #30302f;
    border: #fff 2.5px solid;
    border-radius: 4%;
}

.white{
    background-color: #fff;
}

.header-image-drink{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50rem;
    width: 99%;
    position: relative;

    transition: 2.5s ease-in-out;
    will-change: transform; 
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    transform: translate3d(0, 0, 0);
    perspective: 1000; 
}

@media screen and (max-width: 768px) {
    .drink-img{
        width: 100%;
        height: 25%;
    }

    .drink-menu{
        border-radius: 1%;
    }
    
    .header-image-drink{
        height: 23rem;
        width: 100%;
    }
}