:host{
    --headerString: 1.3rem;
    --header2String: 0.95rem;
    --courseString: 1.5rem;
}

#main{
    background-color: #fff;
    color: black;
}

#header_image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('../../../assets/images/tomoe_insta_images/crab4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 34rem;
}

.dishStr{
    font-size: var(--headerString);
    font-weight: 500;
    color: #fff;
}

.header2{
    font-size: var(--header2String);
}

.course_img{
    width: 100%;
    height: 42%;
}

.header2{
    list-style: none;
    font-size: var(--courseString);
}

.price{
    font-size: var(--header2String);
}

.discription{
    font-size: var(--header2String);
    line-height: 1.8rem;
    color: #323333;
    background-color: #f7fafa;
    padding: .5rem;
}

#alacarte_container{
    background-color: #faf9f5; 
    border: 1px solid #ebeae8;
}

.item{
    list-style: none;
}

.caution{
    font-size: .7rem;
    color: #787878;
    text-align: end;
}

.item{
    margin-bottom: .6rem;
}

@media screen and (min-width: 768px) {
    #header_image{
        height: 42rem;
    }

    .course_img{
        width: 100%;
        height: 440px;
    } 

    .caution{
        font-size: .9rem;
        color: #787878;
        text-align: end;
    }
}
