<div>
    <div class="d-flex flex-wrap justify-content-around align-items-center mb-3">
        <div class="col-12 col-md-4 mb-3">
            <img src="../../../../assets/images/tomoe-image1.JPG" alt="meal" id="meal_img">
        </div>
        <div class="col-12 col-md-7">
            <p class="discription">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem nesciunt excepturi ex reprehenderit? Eaque corrupti itaque quisquam, similique vel laborum.
            </p>
        </div>
    </div>
    <button class="d-grid mx-auto text-center link" (click)="introService.close()">
        << 戻る
    </button>
</div>