<div class="d-block d-md-none p-3">
    <h3>Our drinks</h3>
    <p class="my-2" style="line-height: 1.85rem;">
        Here at Tomoe, we mainly serve local and seasonal Sake, but also variety of Sake from South to North as well<br><br>
        Every dish using seasonal ingredients beatifully goes with Sake. No hestation needed to ask the owner what the best combination with your dish is.
    </p>
</div>
<hr>
<h4 class="text-center header2">Drink Menu</h4>
<hr>
<div class="mb-4">
    <img src="../../../assets/images/drinks.jpeg" alt="drinks" class="drink-img mb-3">
    <div class="drink-menu p-2">
        <h4 class="text-center my-3">Menu</h4>
        <div class="d-flex flex-wrap justify-content-between">
            <!-- beer -->
            <div class="col-12 col-md-5 mb-3">
                <h5 class="text-center">Beer | Others</h5>
                <hr>
                <div class="mx-auto p-2">
                    <div class="d-flex justify-content-between">
                        <div class="col-8">Beer</div>
                        <div class="col-3 text-right">￥480</div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="col-8">Kirin lager </div>
                        <div class="col-3 text-right">￥890</div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="col-8">Asahi Dry Zero(Non-alchole)</div>
                        <div class="col-3 text-right">￥550</div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="col-8">Plum sake</div>
                        <div class="col-3 text-right">￥660</div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="col-8">Whiskey</div>
                        <div class="col-3 text-right">￥650</div>
                    </div>
                </div>
            </div>
            <!-- Sake -->
            <div class="col-12 col-md-5 mb-3">
                <h5 class="text-center mb-3">Potato Shouchu</h5>
                <hr>
                <div class="mx-auto p-2">
                    <div class="d-flex justify-content-between">
                        <div class="col-8">Manzenan</div>
                        <div class="col-3 text-right">￥800</div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="col-8">Soshu</div>
                        <div class="col-3 text-right">￥750</div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="col-8">Rokudai Yuri</div>
                        <div class="col-3 text-right">￥690</div>
                    </div>
                </div>
                <h5 class="text-center mb-3">Barley shochu</h5>
                <hr>
                <div class="d-flex justify-content-between">
                    <div class="col-8">Seiipatsu</div>
                    <div class="col-3 text-right">￥690</div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="col-8">Asahimannen</div>
                    <div class="col-3 text-right">￥690</div>
                </div>
            </div>
            <!-- Nihonshu -->
            <div class="col-12 col-md-5 mb-3">
                <h5 class="text-center mb-1">Japanese Sake</h5>
                <hr>
                <div class="mx-auto p-2">
                    <div class="d-flex justify-content-between">
                        <div class="col-8">Oroku</div>
                        <div class="col-3 text-right">￥670</div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="col-8">Zyokigen</div>
                        <div class="col-3 text-right">￥670</div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="col-8">Yukinobizin</div>
                        <div class="col-3 text-right">￥890</div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="col-8">Hatsusugata</div>
                        <div class="col-3 text-right">￥830</div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="col-8">Yorokobi gaizin</div>
                        <div class="col-3 text-right">￥850</div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="col-8">Abekan</div>
                        <div class="col-3 text-right">￥790</div>
                    </div>
                </div>
            </div>
            <!-- Pop -->
            <div class="col-12 col-md-5 mb-3">
                <h5 class="text-center mb-1">Pops</h5>
                <hr>
                <div class="mx-auto p-2">
                    <div class="d-flex justify-content-between">
                        <div class="col-8">Oolong Tea</div>
                        <div class="col-3 text-right">￥400</div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="col-8">Green Tea</div>
                        <div class="col-3 text-right">￥400</div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="col-8">Ginger ale</div>
                        <div class="col-3 text-right">￥400</div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="col-8">Coke</div>
                        <div class="col-3 text-right">￥400</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>