<nav class="container-fluid justify-content-between align-items-center bg-dark navbar navbar-expand-sm navbar-dark p-0 px-2" id="nav">
    <div class="d-flex flex-wrap align-items-center" style="width: 250px;">
        <a routerLink="/" id="icon">
            <ng-container *ngIf="!globalService.isEnglish">
                <span style="font-size: smaller;" class="navbar-brand">和食
                </span>巴
            </ng-container>
            <ng-container *ngIf="globalService.isEnglish">
                Tomoe
            </ng-container>
        </a>
        <a href="https://www.google.com/maps/search/?api=1&query=東京都大田区西蒲田７丁目１０−７ 和食 巴 ともえ" id="address" target="_blank" class="col-12 col-lg-6 p-0 m-0" style="width: 200px;">
            <fa-icon [icon]="faLocationDot"></fa-icon>
            <ng-container *ngIf="!globalService.isEnglish">
                東京都大田区西蒲田7丁目10-7
            </ng-container>
            <ng-container *ngIf="globalService.isEnglish">
                7 Chome 10-7 Nishi Kamata Ota Ward Tokyo
            </ng-container>
        </a>
    </div>
    <div>
        <button class="navbar-toggler d-lg-none" type="button" (click)="navService.isCollapsed = !navService.isCollapsed" [attr.aria-expanded]="!navService.isCollapsed" aria-controls="subAnchor" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" id="toggler"></span>
        </button>
    </div>
    <div id="subAnchor" class="collapse navbar-collapse bg-dark navbar-light container-f,luid px-2" [ngbCollapse]="navService.isCollapsed">
        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a routerLink="" class="nav-link" (click)="navService.isCollapsed = !navService.isCollapsed">
                    <ng-container *ngIf="!globalService.isEnglish">
                        ご挨拶
                    </ng-container>
                    <ng-container *ngIf="globalService.isEnglish">
                        About us
                    </ng-container>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/dishpage" class="nav-link" (click)="navService.isCollapsed = !navService.isCollapsed">
                    <ng-container *ngIf="!globalService.isEnglish">
                        お品書き
                    </ng-container>
                    <ng-container *ngIf="globalService.isEnglish">
                        Menu
                    </ng-container>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="" class="disabled nav-link" (click)="navService.isCollapsed = !navService.isCollapsed">
                    <ng-container *ngIf="!globalService.isEnglish">
                        お飲み物
                    </ng-container>
                    <ng-container *ngIf="globalService.isEnglish">
                        Drinks
                    </ng-container>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/mapPage" class="nav-link" (click)="navService.isCollapsed = !navService.isCollapsed">
                    <ng-container *ngIf="!globalService.isEnglish">
                        アクセス
                    </ng-container>
                    <ng-container *ngIf="globalService.isEnglish">
                        Location
                    </ng-container>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/reservation" class="nav-link" (click)="navService.isCollapsed = !navService.isCollapsed">
                    <ng-container *ngIf="!globalService.isEnglish">
                        ご予約
                    </ng-container>
                    <ng-container *ngIf="globalService.isEnglish">
                        Reservation
                    </ng-container>
                </a>
            </li>
            <li class="nav-item">
                <a 
                class="nav-link" 
                (click)="navService.isCollapsed = !navService.isCollapsed; globalService.isEnglish = !globalService.isEnglish"
                id="enButton"
                >
                    <ng-container *ngIf="!globalService.isEnglish">
                        English
                    </ng-container>
                    <ng-container *ngIf="globalService.isEnglish">
                        日本語
                    </ng-container>
                </a>
            </li>
        </ul>
    </div>
</nav>