:host{
    --headerString: 1.3rem;
    --header2String: 0.95rem;
    --courseString: 1.5rem;
}
.limitedCourse_img{
    width: 96%;
    height: 42%;
    
    transition: 1s ease-in-out;
}

.image-mover{
    text-align: center;
    font-size: .8rem;
    width: 1.3rem;
    background-color: #c5fae5;
    border-radius: 50%;
}

.image-mover:hover{
    opacity: .7;
    cursor: pointer;
}

.header2{
    list-style: none;
    font-size: var(--courseString);
}

.price{
    font-size: var(--header2String);
}

.caution{
    font-size: .7rem;
    color: #787878;
    text-align: end;
}

.discription{
    font-size: var(--header2String);
    line-height: 1.8rem;
    color: #323333;
    background-color: #f7fafa;
    padding: .5rem;
}

@media screen and (min-width: 768px) {
    .limitedCourse_img{
        height: 490px;
    } 

    .image-mover{
        font-size: 1.5rem;
        width: 2.5rem;
        padding: .5rem;
    }

    .caution{
        font-size: .9rem;
    }
}