.course_img{
    width: 100%;
    height: 42%;
}

.header2{
    list-style: none;
    font-size: var(--courseString);
}

.price{
    font-size: var(--header2String);
}

.discription{
    font-size: var(--header2String);
    line-height: 1.8rem;
    color: #323333;
    background-color: #f7fafa;
    padding: .5rem;
}

@media screen and (min-width: 768px) {
    .course_img{
        width: 100%;
        height: 490px;
    } 

    .caution{
        font-size: .9rem;
        color: #787878;
        text-align: end;
    }
}