/* You can add global styles to this file, and also import other style files */
body{
    font-family: "Sawarabi Mincho";
    color: #fff;
    background-color: black;
}

.app-loading-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-loading-indicator-backdrop {
    background-color: rgba(0, 0, 0, .28);
}
.cdk-overlay-container{
    z-index: 1056!important;
}

.header-image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 23rem;
    width: 100%;
    position: relative;

    transition: 2.5s ease-in-out;
    will-change: transform; 
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    transform: translate3d(0, 0, 0);
    perspective: 1000; 
}

.next {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

mat-progress-spinner{
    width: 60px !important;
    height: 60px !important;
}

mat-progress-spinner svg{
    width: 60px !important;
    height: 60px !important;
}

mat-progress-spinner  circle{
    stroke: #e7d9d9 !important;
}

mat-spinner{
    width: 60px !important;
    height: 60px !important;
}

mat-spinner svg{
    width: 60px !important;
    height: 60px !important;
}

mat-spinner  circle{
    stroke: #e7d9d9 !important;
}


@media screen and (min-width: 768px) {
    .header-image{
        height: 34rem;
        width: 100%;
    }
}