/* You can add global styles to this file, and also import other style files */
body{
    font-family: "Sawarabi Mincho";
    color: #fff;
    background-color: black;
}

.spinner-container { 
    position: fixed;
    left: 45%;
    top: 40%;
}