<!-- phone number -->
<div class="text-center my-4 ">
    <h4>Reserve by Phone ↓</h4>
    <hr>
    <h1>
        <a href="tel:0364248466" class="text-dark">
            <fa-icon [icon]="globalService.faPhone"></fa-icon>
            03-6424-8466
        </a>
    </h1>
</div>

<!-- description -->
<div class="mx-auto col-10 col-md-8 p-2" id="description">
    <div class="row mb-3">
        <div class="col-4 text-end">
            Hours
        </div>
        <div class="col">
            5:30pm ～ 11:00pm
            <br>
            <p class="disc">
                [L.O - 10:00 pm、Only course L.O 9:00pm]
            </p>
        </div>
    </div>
    
    <div class="row mb-3">
        <div class="col-4">
            <h6 class="text-end">Close</h6>
        </div>
        <div class="col">
            Sunday
            <br>
            <p class="disc">
                We are not sure yet when to take  holidays around the end of December to new years and summer vacations...etc. <br>
                Feel free to contact us by <a href="https://instagram.com/washoku.tomoe?igshid=YmMyMTA2M2Y" target="_blank">Instagram</a> ・ <a href="https://twitter.com/washoku_tomoe" target="_blank">Twitter</a> <br>Thanks!
            </p>
        </div>
    </div>
</div>

<!-- Reservation-form -->
<div id="formArea">
    <h4 class="text-center">
        Reserve by Form ↓
    </h4>
    <hr>

    <div class="d-grid mx-auto col-6 col-md-4">
        <button type="button" class="btn btn-success" (click)="isCollapsed = !isCollapsed;" [attr.aria-expanded]="!isCollapsed" aria-controls="formSection">
            Reserve here
        </button>
    </div>
    <app-reservation-form [isCollapsed]="isCollapsed">
    </app-reservation-form>

    <ng-container *ngIf="isCollapsed">
        <div class="form-text text-center mb-3" id="target">
            Scroll down once clicking the button
        </div>
    </ng-container>
</div>
