<div class="bg-light">
    <!-- header img -->
    <div id="header_intro" class="d-flex flex-column align-items-center justify-content-center mb-3">
        <h1 class="text-center">
            <ng-container *ngIf="!globalService.isEnglish">
                <strong>和食 巴のご紹介</strong>
            </ng-container>
            <ng-container *ngIf="globalService.isEnglish">
                <strong>Introduction of Tomoe</strong>
            </ng-container>
        </h1><br><br>
        <div class="bg-dark col-8 p-2">
            <p class="text-center">
                <span id="subHeader">四季折々の旬の素材を盛り込んだ京料理と季節の日本酒が味わえる大人の隠れ家。</span><br><br>
                
                毎朝豊洲市場から仕入れる鮮魚や、産地直送のエゾシカなど、選りすぐりの食材を使った日本料理をご提供しております。土鍋で炊き上げるご飯には、上品な甘みと香りが特徴の山形産の「つや姫」を使用。お食事と一緒にご堪能いただくお酒は、季節の日本酒や厳選した焼酎を幅広くご用意しました。旬の食材で織り成す季節の料理と合わせてお愉しみください。店内は、接待、記念日、デートなどに最適な上質感漂う隠れ家のような空間。
            </p>
        </div>
    </div>
    <!-- owner Introduction -->
    <div class="bg-dark">
        <h2>ご挨拶</h2>
        <hr>
            <div class="d-flex flex-wrap justify-content-between ">
                <div class="col-3 col-md-11">
                    <img src="" alt="">
                    <p id="owner_name">
                        店主
                        <span>地曳 翔太</span>
                    </p>
                </div>
                <div class="col-8 col-md-11">
                    <p id="owner_intro text-center">
                        15歳から料理の道へと進み、都内の日本料理、ミシュラン3つ星の京懐石 吉泉 ~ 銀座 子熊・Kuma3副料理長を経験し、蒲田西口にて独立致しました。

                        自身が人に、仕事に心を尽くせる場所そんなお店ができればと思ってます。なんだかんだ【今日美味い酒がのめるか】【一日作さざれば一日食らわず】って事です。
                    </p>
                </div>
            </div>
        <hr>
    </div>
</div>
