<div class="text-dark mt-5">
    <ng-container *ngIf="reserveService.successAlert.length > 0">
        <div class="alert alert-success">
            {{ reserveService.successAlert }}

            <ng-container *ngIf="reserveService.emailAlert.length > 0">{{ reserveService.emailAlert}}</ng-container>
        </div>
    </ng-container>
    <div class="modal-header wh-100">
        <h4 class="modal-title">{{ reserveService.bookingInfo.name }} 様 のご予約内容</h4>
        <button type="button" class="close btn btn-outline-dark" aria-label="Close" (click)="close()">
            戻る
        </button>
    </div>
    <div class="modal-body mx-auto">
        <ul class="col-11 col-md-10 mx-auto">
            <li class="row mb-3">
                <span class="col">お名前</span>
                <span class="col">{{ reserveService.bookingInfo.name }}</span>
            </li>
            <li class="row mb-3">
                <span class="col">ご人数</span>
                <span class="col">{{ reserveService.bookingInfo.howMany }}人</span>
            </li>
            <li class="row mb-3">
                <span class="col">お日にち</span>
                <span class="col">{{ reserveService.bookingInfo.dateForDisplay }}</span>
            </li>
            <li class="row mb-3">
                <span class="col">お時間帯</span>
                <span class="col">{{ reserveService.bookingInfo.timeForDisplay }}</span>
            </li>
            <li class="row mb-3">
                <span class="col">コース</span>
                <span class="col">{{ reserveService.bookingInfo.course }}</span>
                <ng-container *ngIf="reserveService.bookingInfo.course_option != null && reserveService.bookingInfo.course_option != false">
                    <div class="form-text text-end">＋山形県産つや姫の土鍋ご飯付き</div>
                </ng-container>
            </li>
            <ng-container *ngIf="reserveService.bookingInfo.discription.length > 0">
                <li class="row mb-3">
                    <span class="col">備考</span>
                    <span class="col">{{ reserveService.bookingInfo.discription }}</span>
                </li>
            </ng-container>
            <li class="row mb-3">
                <span class="col">メールアドレス</span>
                <span class="col">{{ reserveService.bookingInfo.email }}</span>
            </li>
            <li class="row mb-3">
                <span class="col">お電話番号</span>
                <span class="col">{{ reserveService.bookingInfo.phone }}</span>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <div class="d-grid col-6 mx-auto">
            <button class="btn btn-outline-success" (click)="onSubmit()">ご予約確定</button>
        </div>
    </div>
</div>
    