<div>
    <div class="d-flex flex-wrap justify-content-around align-items-center mb-3">
        <div class="col-12 col-md-4 mb-3">
            <img src="../../../../assets/images/drinks.jpeg" alt="meal" id="meal_img">
        </div>
        <div class="col-12 col-md-7">
            <p class="discription">
                <ng-container
                    *ngIf="globalService.isEnglish
                    then en;
                    else jp"
                >
                </ng-container>
                <ng-template #en>
                    Seasonal Sake is as a main drink, we have a variety of Sake that is in each seeson and coming from all over Japan.
                    Dished we serve does not only makes your apatite satisfied but should also beatifully match with Sake you having.
                    Please request us if you want to know the reccomended combinations. We will get you the best.
                </ng-template>
                <ng-template #jp>
                    季節の地酒を中心に、四季折々、津々浦々の日本酒を各種取り揃えております。
                    旬の食材を盛り込んだ逸品は、お酒に寄り添う肴としてもお愉しみいただけます。お料理に合わせたペアリングもご提案いたしますので、お気軽にお声がけください。
                </ng-template>
            </p>
        </div>
    </div>
    <div class="d-flex flex-wrap justify-content-between align-items-center mb-3">
        <button class="mx-auto text-center link" (click)="introService.close()">
            <ng-container *ngIf="globalService.isEnglish">
                << Back
            </ng-container>
            <ng-container *ngIf="!globalService.isEnglish">
                << 戻る
            </ng-container>
        </button>
        <a routerLink="/drinkpage" class="mx-auto text-center link linkToPage disabled" (click)="introService.close()">
            <ng-container *ngIf="globalService.isEnglish">
                Drinks
            </ng-container>
            <ng-container *ngIf="!globalService.isEnglish">
                巴のお飲み物
            </ng-container>
        </a>
    </div>
</div>
